

<div class="container" ng-controller="Albums">
    <div class="row">
        <div class="col col-lg-12">
            <h3>partial gallary of works <small>2012-2016</small></h3>
            <div masonry>
                <div ng-repeat="album in albums">
                    <div class="masonry-brick" ng-repeat="image in album.images">
                        <img ng-src="{{image.link}}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
