

<div class="container" ng-controller="Albums">
    <div class="row">
        <div class="col col-lg-12">
            <h3>art works</h3>
            <div masonry>
                <div ng-repeat="album in albums">
                    <div class="masonry-brick" ng-repeat="image in album.images">
                        <img ng-src="{{image.link}}"/>
                    </div>
                </div>
            </div>
            <span class="smallText">(Click the tags above to add/remove albums. Albums are only fetched once throughout app life cycle to prevent duplicate API calls.)</span>
        </div>
    </div>
</div>
